<div id="header">
  <table id="nav">
    <tr>
      <td>
	<div class="menu_panel">
	  <ul class="main_menu">
	    <li><a href="/products">Products</a></li>
	    <li><a href="/makers">Makers</a></li>						
	    <li><a href="/shops">Shops</a></li>
	    <li><a href="/items">Items</a></li>
	  </ul>
	</div>
      </td>
    </tr>
  </table>
</div> <!-- header -->
