/*** CONSTANT ***/
body {
  background: #fff repeat-x;
  color: #333333;
  font-size: 10pt;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  margin: 0 auto 0;
  padding: 0;
  line-height: 1.6em;
}

#wrapper {
  width: 960px;
  margin: 0 auto;
}

/*** COMMON ***/
.float_l {
  float: left;
}

.float_r {
  float: right;
}

.a_btn {
  display: inline-block;
  text-decoration: none;
  background-color: #5D99E6;
  border: 1px solid #000;
  color: #fff;
  padding: 5px 10px;
  width: 120px;
  text-align: center;
}

.btn {
  width: 80px;
  height: 30px;
}

.round_corner {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.clearfix {
  display: inline-block;
}
 
html[xmlns] .clearfix {
  display: block;
}
 
* html .clearfix {
  height: 1%;
}

a {
  outline: none;
}

a img {
  outline: none;
  border: none;
}

.tbl_common {
  border-collapse: collapse;
  font-size: 9pt;
}

.tbl_common th {
  background-color: #CEECF5;
}

.tbl_common th,td {
  padding: 2px 10px;
  vertical-align: middle;
  line-height: 1.7em;
}

.center {
  margin: 0 auto;
}

.l_align {
  text-align: left;
}

.r_align {
  text-align: right;
}

.c_align {
  text-align: center;
}

.note {
  font-size: 8pt;
  color: #424242;
  font-style: italic;
}

#wrapper hr.no_style {
  border-top: 1px solid #c5c5c5;
}

/*** HEADER ***/
#header {
  background-color: #1c1c1c;
  height: 70px;
  overflow: hidden;
  margin: 0 auto;
}

#nav {
  margin: 0 auto;
}

#nav td {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 10pt;
}

#nav li a {
  display: block;
  width: 100px;
  padding: 15px 15px;
  margin: -5px 0;
}

#nav li a:hover {
  background-color: #7AAFD7;
  color: #fff;
}

#nav li a:focus {
  background-color: #fff;
  color: #000;
}

#nav li a:active {
  background-color: #7AAFD7;
  color: #fff;
}

#header hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px dotted #c5c5c5;
  padding: 0;
  margin: 0;
}

/*** main menu ***/
.menu_panel {
  white-space: nowrap;
}
.main_menu { 
  padding: 0; 
  clear: both; 
  font-family: Arial;
}
.main_menu li { 
  display: inline; 
  white-space: nowrap;
}
.main_menu li a { 
  background: #1c1c1c; 
  padding: 0 20px; 
  float:left; 
  border-right: 1px solid #fff;
  border-bottom: none; 
  text-decoration: none; 
  color: #fff; 
  font-weight: bold;
}
.main_menu li.active a { 
  background: #E6E6E6; 
}

/*** SIDE MENU ***/
#side_menu {
  float: left;
  width: 120px;
  padding: 5px;
}

#content_products {
  float: right;
  width: 760px;
  padding: 5px 10px;
}

#content_products .tbl_results {
  width: 760px;
  border-collapse: collapse;
  font-size: 9pt;
}

#content_products .tbl_results td {
  vertical-align:top;
  border-bottom: 1px solid #a4a4a4;
}

#content_products .search_box .spec {
  width: 100px;
}

#content_products p {
  margin: 0px;
}

#content_products .tbl_results .col1 {
  width: 100px;
  padding: 5px;
}

#content_products .tbl_results .col2 {
  width: 420px;
  padding: 5px 10px;
}

#content_products .tbl_results .col2 a {
  font-weight: bold;
  font-size: 11pt;
  margin: 0px;
}

#content_products .tbl_results .col3 {
  width: 200px;
  padding: 5px;
}

#content_products .tbl_results .col3 p {
  padding: 3px 0px;
}

#content_products .tbl_results .col3 a {
  text-align: center;
  text-decoration: none;
  display: block;
  background-color: #6e6e6e;
  color: #ffffff;
  padding: 2px;
  font-weight: bold;
}

#content_products .tbl_results .orange_catalog a {
  background-color: #faac58;
}

#content_products .search_box table {
  width: 440px;
}

#content_products .search_box td.label {
  background-color: #fafafa;
  width: 80px;
  font-weight: bold;
}

#content_products .keyword_input {
  width: 400px;
  border: 1px solid #000;
  padding: 6.5px 15px;
  background: #ffffff;
}

#content_products .keyword_search_btn {
  position: relative;
  padding: 6px 15px;
  margin-left: -8px;
  border: 1px solid #5d99e6;
  background-color: #5d99e6;
  color: #fafafa;
}

#content_products .search_results .delete_item {
  background-color: #000;
  color: #fff;
  font-weight: bold;
}

#content_products .search_results .specs .key {
  font-weight: bold;
}

hr.dotted {
  border-top: dotted 1px;
}

/*** CONTAINER ***/
#container {
  background-color: #FFF;
  display: block;
  overflow: hidden;
  padding: 10px;
  zoom: 1;
  line-height: 1.7em;
  font-size: 11pt;
  text-align: justify;
  width: 920px;
}

/*** FOOTER ***/
#footer {
  padding: 10px 20px;
  border-top: 1px solid #c5c5c5;
}

#footer table {
  margin: 0 auto;
  width: 920px;
  border-collapse: collapse;
}

#footer table td{
  padding: 0px 20px;
  font-size: 9pt;
  vertical-align: top;
}

/*** CONTENTS ***/
.items_list {
  text-align: center;
}

.items_list .row {
    margin: 0;
    padding: 0;
}
.items_list br {
    clear: both;
}
.items_list .block {
    float: left;
    width: 180px;
    height: 250px;
}

.items_list .row a {
  text-decoration: none;
  color: #000
}

.items_list .row a:visited {
  text-decoration: none;
  color: #000
}

.items_list .tbl_items {
  border-collapse: collapse;
}

.items_list .tbl_items td {
  padding: 5px;
}

.items_list .tbl_items .name {
  height: 30px;
  vertical-align: top;
  font-size: 8pt;
  line-height: 1.2em;
}

.items_list .tbl_items .img {
}
