<div id="wrapper">
<div id="contents">
  <h3 class="c_align">Create New Maker</h3>
  <%= form_tag( "/makers/create_action", method: "post" ) do %>
  <table class="center">
      <tr>
	<td>Maker Name: </td>
	<td><input type="text" value="" name="name" /></td>
      </tr>
      <tr>
	<td>Maker URL: </td>
	<td><input type="text" value="" name="url" width="200"/></td>
      </tr>
      <tr>
	<td class="btn r_align" colspan="2">
	  <input type="submit" value="Submit" class="btn" />
	</td>
      </tr>	
  </table>
  <% end %>
</div> <!-- contents -->
</div> <!-- wrapper -->
