<div id="wrapper">
<div id="contents">
  <h3 class="c_align">Update Maker Info</h3>
  <%= form_tag( "/makers/edit_action", method: "post" ) do %>
  <input type="hidden" name="id" value="<%= params[:id] %>" />
  <table class="center">
    <tr>
      <td>Maker Name: </td>
      <td><input type="text" value="<%= @makers.name %>" name="name" /></td>
    </tr>
    <tr>
      <td>Maker URL: </td>
      <td><input type="text" value="<%= @makers.url %>" name="url" width="200"/></td>
    </tr>
    <tr>
      <td class="btn r_align" colspan="2">
	<input type="submit" value="Update" class="btn"/>
      </td>
    </tr>	
  </table>
  <% end %>
</div> <!-- contents -->
</div> <!-- wrapper -->
