<div id="wrapper">
<div id="contents">
<a href="/products/create">Add new product</a>
<table>
  <tr>
    <th>ID</th>
    <th>Product Name</th>
    <th>Link</th>
  </tr>
  <% @products.each do | item | %>
    <tr>
      <td><%= item[:id] %></td>
      <td><%= item[:name] %></td>
      <td><a href="/products/<%= item[:id] %>/edit">edit</a></td>
    </tr>
  <% end %>
</table>

</div> <!-- contents -->
</div> <!-- wrapper -->
