    <div id="side_menu">
      <ul class="parent_menu">
      <% @main_category.each do | mcat_id, mcat_val | %>
	<li>
	  <a href=""><%= mcat_val["name"] %></a>
	  <ul>
	    <% mcat_val["sub_categories"].each do | cat_id, cat_val | %>
	      <li>
		<a href=""><%= cat_val %></a>
		<ul>
		  <% @category_items[cat_id]["items"].each do | item_id, item_name | %>
		    <li><a href=""><%= item_name %></a></li>
		  <% end %>
		</ul>
	      </li>
	    <% end %>
	  </ul>
	</li>
      <% end %>
      </ul>
    </div>

