<div id="wrapper">
<div id="contents">
  This is a test page...
  <% @tests.each do | t | %>
    <p></p>
    <p><%= t[:id] %></p>
    <p><%= t[:name] %></p>
  <% end %>
  <% @tests1.each do | t | %>
    <p><%= t[:lastname] %></p>
    <p><%= t[:firstname] %></p>
  <% end %>
</div> <!-- contents -->
</div> <!-- wrapper -->
